.homeMain {
  position: relative;
}

.homeMain img{
  width: 100vw;
  height: 100vh;
  border: none;
  border-radius: 0;
}
.mainButtonContainer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  background-image: url("./Images/home-tea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.mainButton{
  color: white;
  background-color:  rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  bottom: 15%;
  font-size: 20px;
  padding: 0.5rem 5rem 0.5rem 5rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Alegreya Sans";
  margin-bottom: 50%;
}


header {
    background-color: #80AA89;
    display: grid;
    grid-template-columns: 2fr 5fr;
}
.logo{
  display: flex;
  align-items: center;
  font-family: "Abel";
  font-size: 2.5em;
  padding-left: 1em;
}
#title{
  float: top;
}
.logoBW{
  height: auto;
}
nav {
    padding-top: 0px;
    grid-column: 2;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
    font-weight:bold;
    
}
.navUL{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    padding-top: 25x;
}
.navUL a:hover {
  color: #E9ECEB;
  border-top: 5px solid #BEDBBB;
  border-radius: 15%;
}
.navUL a:active {
  color: #E9ECEB
}
.navUL a:visited {
    color: #E9ECEB;
    text-decoration-color: #80AA89

}
.wrapper{
    display: flex;
    flex-direction: column;
    font-family: "Alegreya Sans"
}

.logoBW{
    height: 80px;
    width: 60px;
  }

.middle{
    display: flex;
    flex-direction: column;
}

.Canada{
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 20px;
  align-items: center;
  margin: 2em;
}

.VanAddress{
  display: flex;
  flex-direction: column;
}

.AsiaMap{
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 30px;
  margin: 2em;
}

.locationIcon {
    height: 60px;
}
#teapeople{
    grid-column: 2;
}
.locationlist{
  grid-column: 1;
}
body {
  font-family: "Alegreya Sans";
}

.ourPromise {
  display: flex;
  justify-content: center;
  border:#80AA89;
  border-style: solid;
}
.ourPromiseText p{
  width: 500px;
  line-height: 2em;

}
.ourPromiseImages{
  display: flex;
  justify-content: center;
}
.ourPromiseImages img{
  margin: 2rem 0 0 2rem;
  width: 300px;
  height: auto;
  flex-direction: row;
  border-radius: 10%;
  padding: 5px;
}
.missionDescr {
  display: inline;
}

.homeTop {
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
}
.homeBot {
  text-align: center;
  justify-content: center;
}
.homeTop img{
  width: 500px;
  height: auto;
  margin: 20px;
}
#teapeople {
  width: 300px;
  height: auto;
}
.text{
  font-size: medium;
}
.homeBot img{
  height: 300px;
  width: auto;
}
footer {
    background-color: #92817A;
}
.footUL{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.icon{
  height: 50px;
  width: auto;
  background: #E9ECEB;
  margin: 20px 20px;
  border-radius: 10%;
  padding: 5px;
}
#disclaimer{
  text-align: center;

}

.wrapper-menu{
  display: flex;
  flex-direction: column;
}

.wrapper-menupage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icetea{
  display: flex;
  justify-content: space-evenly;
}

.hottea{
  display: flex;
  justify-content: space-evenly;
}

h1{
  font-size: 40px;
}
h2{
  font-size: 32px;
  text-align: center;
}

p{
  font-size: 16px;
}

button{
  color: white;
  background-color:  rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Alegreya Sans";
}

h3{
  font-size: 28px;
}