
.homeMain {
  position: relative;
}

.homeMain img{
  width: 100vw;
  height: 100vh;
  border: none;
  border-radius: 0;
}
.mainButtonContainer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  background-image: url("./Images/home-tea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.mainButton{
  color: white;
  background-color:  rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  bottom: 15%;
  font-size: 20px;
  padding: 0.5rem 5rem 0.5rem 5rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Alegreya Sans";
  font-size: 20px;
  margin-bottom: 50%;
}
header {
    background-color: #80AA89;

    display: grid;
    grid-template-columns: 2fr 5fr;
}
.logo{
    font-family: "Abel";
    font-size: 2.5em;
    padding-left: 1em;
}
#title{
  float: top;
}
.logoBW{
  height: 100px;
}
nav {
    padding-top: 0px;
    grid-column: 2;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
    font-weight:bold;
    
}
.navUL{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    padding-top: 25x;
}
.navUL a:hover {
  color: #E9ECEB;
  border-top: 5px solid #BEDBBB;
  border-radius: 15%;
}
.navUL a:active {
  color: #E9ECEB
}
.navUL a:visited {
    color: #E9ECEB;
    text-decoration-color: #80AA89

}
.middle{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
#teapeople{
    grid-column: 2;
}
.locationlist{
  grid-column: 1;
}

main{
  font-family: "Alegreya Sans";
}

.ourPromise {
  display: flex;
  justify-content: center;
  
  border:#80AA89;
  border-style: solid;
}
.ourPromiseText p{
  width: 500px;
  line-height: 2em;

}
.ourPromiseImages{
  display: flex;
  justify-content: center;
}
.ourPromiseImages img{
  margin: 2rem 0 0 2rem;
  width: 300px;
  height: auto;
  flex-direction: row;
  border-radius: 10%;
  padding: 5px;
}
.missionDescr {
  display: inline;
}
footer {
    background-color: #92817A;
}
.footUL{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.icon{
  height: 50px;
  width: auto;
  background: #E9ECEB;
  margin: 0px 20px;
  border-radius: 10%;
  padding: 5px;
}
#disclaimer{
  text-align: center;
}



